/* Fonts */

/* Font 1 */
@font-face {
    font-family: "Dosis-VariableFont";
    src: url("Dosis-VariableFont.ttf");
}
/* Font 2 */
@font-face {
    font-family: "FredokaOne-Regular";
    src: url("FredokaOne-Regular.ttf");
}
/* Font 3 */
@font-face {
    font-family: "McLaren-Regularc";
    src: url("McLaren-Regular.ttf");
}
/* Font 4 */
@font-face {
    font-family: "Quicksand-VariableFont";
    src: url("Quicksand-VariableFont.ttf");
}
/* Font 5 */
@font-face {
    font-family: "Montserrat-Regular";
    src: url("Montserrat-Regular.ttf");
}
/* Font 6 */
@font-face {
    font-family: "Muli-Regular";
    src: url("Muli-Regular.ttf");
}
